.row
  .col-md-10.col-xs-12
    %table.table
      %thead
        %tr
          %th.col-md-7.col-xs-6 主題
          %th.col-md-1.col-xs-2.text-center 分類
          %th.col-md-1.col-xs-2.text-center 作者
          %th.col-md-1.text-center.small-screen-hidden{"data-small-screen" => "hide"} 回覆
          %th.col-md-1.col-xs-2.text-center 觀看
          %th.col-md-1.text-center.small-screen-hidden{"data-small-screen" => "hide"} 最後回覆
      %tbody
        - @topics.each do |topic|
          %tr
            %td.col-md-7.col-xs-6= link_to topic.title, topic
            %td.col-md-1.col-xs-2.text-center= topic.category
            %td.col-md-1.col-xs-2.text-center
              = image_tag topic.user.avatar.url(:original), class: "img-circle img-responsive avatar-image"
            %td.col-md-1.text-center.small-screen-hidden{"data-small-screen" => "hide"}= topic.reply_count
            %td.col-md-1.col-xs-2.text-center 123
            %td.col-md-1.text-center.small-screen-hidden{:id => "topic-#{topic.id}", "data-small-screen" => "hide"}

