.row
  .col-xs-12
    %h1= @topic.title
    = link_to "回覆主題", new_topic_post_path(@topic)
- @topic.posts.each do |post|
  .row
    .col-md-8.col-sm-12.post
      .avatar-wrapper
        = image_tag post.user.avatar.url(:original), class: "img-circle img-responsive avatar-image"
      .post-wrapper
        .post-header
          .post-username
            %span= post.user.name
          .post-time
            %span{id: "post-#{post.id}"}
        .post-content
          = post.content.html_safe
          .well.well-sm
            %a{"aria-controls" => "post-#{post.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#new-comment-of-post-#{post.id}", :role => "button"}
              %a{"aria-controls" => "post-#{post.id}", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#new-comment-of-post-#{post.id}", :role => "button"}
                %i.fa.fa-reply
                留言
              &nbsp&nbsp&nbsp
              - if policy(post).edit?
                = link_to edit_topic_post_path(@topic, post) do
                  %i.glyphicon.glyphicon-pencil
                  編輯
              .collapse{:id => "new-comment-of-post-#{post.id}"}
                = form_for [post, Comment.new], validate: true do |f|
                  .form-group
                    = f.text_field :body, class: "form-control comment-body-form", placeholder: "輸入完按下 Enter 即可送出留言", required: true, maxlength: 80
                    %span.help-block
      - post.comments.each do |comment|
        %div.comment-wrapper
          .avatar-wrapper
            = image_tag comment.user.avatar.url(:original), class: "img-circle img-responsive avatar-image"
          .comment-header
            .comment-username
              %span= comment.user.name
            .comment-time
              %span{id: "post-#{comment.post.id}-comment-#{comment.id}"} 2015/5/13
          .comment-body
            = comment.body.html_safe

