.row
  %h1= @topic.title
- @topic.posts.each do |post|
  .row
    .col-xs-1.avatar-wrapper
      = image_tag post.user.avatar.url(:original), class: "img-circle img-responsive avatar-image"
    .col-xs-7.post-wrapper
      %div
        %span= post.user.name
        .post-date= post.created_at
      .post-content
        = post.content.html_safe
      - if policy(post).edit?
        %div
          = link_to "編輯貼文", edit_post_path(post)
