.row
  %h1= @topic.title
  = link_to "回覆主題", new_topic_post_path(@topic)
- @topic.posts.each do |post|
  .row.post
    .col-xs-1.avatar-wrapper
      = image_tag post.user.avatar.url(:original), class: "img-circle img-responsive avatar-image"
    .col-xs-7.post-wrapper
      %div
        %span= post.user.name
        .post-date{:id => "post-#{post.id}"}
      .post-content
        = post.content.html_safe
      - if policy(post).edit?
        %div
          = link_to "編輯貼文", edit_topic_post_path(@topic, post)
