.row
  %h1 回覆主題
  - if @post.errors.any?
    %ul
      = @post.errors.full_messages.each do |message|
        %li= message
  = form_for [@topic, @post] do |f|
    .form-group
      = f.text_area :content, class: "form-control", rows: 10
    .form-group
      = f.submit "發文", class: "btn btn-primary"

